# version: '3.9'

services:
  redis:
    image: redis:7.2
    container_name: redis
    command: ["redis-server", "/usr/local/etc/redis/redis.conf"]
    volumes:
      - ./redis.conf:/usr/local/etc/redis/redis.conf
    networks:
      - secure-net
    ports:
      - "6379:6379"

    restart: always
    # healthcheck:
    #   test: ["CMD", "redis-cli", "ping"]
    #   interval: 30s
    #   timeout: 10s
    #   retries: 5

#   web:
#     build: .
#     container_name: django-app
#     command: gunicorn app.wsgi:application --bind 0.0.0.0:8000
#     env_file:
#       - .env
#     volumes:
#       - .:/app
#     ports:
#       - "8000:8000"
#     depends_on:
#       - redis
#     networks:
#       - secure-net
#     restart: always

networks:
  secure-net:
    driver: bridge
