services:
  redis:
    image: redis:7.2
    container_name: redis
    command: ["redis-server", "/usr/local/etc/redis/redis.conf"]
    volumes:
      - ./redis.conf:/usr/local/etc/redis/redis.conf
    networks:
      - secure-net
    ports:
      - "6379:6379"

    restart: always
networks:
  secure-net:
    driver: bridge
