body {
    background-color: red !important;
}

.responsive-container {
    width: 100%;
    max-width: 1200px;
    margin: auto;   
}

@media (max-width: 1024px) { 
    .responsive-container {
        width: 95%;
    }
    .dash-graph {
        height: 70vh;
    }
}

@media (max-width: 768px) {
    .responsive-container {
        width: 100%; 
    }
    .dash-graph {
        height: 50vh;
    }
}